<h2>電話番号の確認</h2>

<%= form_for @phone_number, url: addresses_path, method: :get do |f| %>
  <%= render "devise/shared/error_messages", resource: @phone_number %>


  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>


  <div class="actions">
    <%= f.submit "次へ進む" %>
  </div>
<% end %>