= render "common/sub_header"
.body
  .line
    .line__mercari
      メルカリ >
    .line__mypage
      マイページ
  .content
    .left-content
      %ul.left-content__lists_top
        %li.list
          = link_to  "", class: "list_mypage" do
            マイページ
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_things" do
            やることリスト
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_likes" do
            いいね！一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit" do
            出品する
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_item" do
            出品した商品-出品中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_trade" do
            出品した商品-取引中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_sold" do
            出品した商品-売却済み
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_purchase_trade" do
            購入した商品-取引中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_purchase_trade_past" do
            購入した商品-過去の取引
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_news" do
            ニュース一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_evaluation" do
            評価一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_guide" do
            ガイド
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_inquiry" do
            お問い合わせ
            .next_icon
            = icon('fas', 'fas fa-angle-right')
      %ul.left-content__lists_center
        %li.list
          = link_to  "", class: "list_merpay" do
            メルペイ
        %li.list
          = link_to  "", class: "list_profit" do
            売上・振込申請
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_point" do
            ポイント
            .next_icon
            = icon('fas', 'fas fa-angle-right')
      %ul.left-content__lists_under
        %li.list
          = link_to  "", class: "list_set" do
            設定
        %li.list
          = link_to  "", class: "list_profile" do
            プロフィール
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_address" do
            発送元・お届け先住所変更
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_shipping" do
            お支払い方法
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_mail_pass" do
            メール/パスワード
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_inform" do
            本人情報
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_number" do
            電話番号の確認
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_logout" do
            ログアウト
            .next_icon
            = icon('fas', 'fas fa-angle-right')
    .content-right
      .content-right_main
        %ul.main_link
          %li.list
          = link_to  "", class: "content-right_main__photo" do
            = icon('fas', 'far fa-smile')
          %li.list
          = link_to  "", class: "content-right_main__name" do
            なまえ
        .content-right_main__other
          .content-right_main__other_evaluation
            評価 0
          .content-right_main__other_item
            出品数 0
      %ul.content_mypage
        %li.notice
          お知らせ
        %li.things
          やることリスト
      %ul.mypage_inform
        %li.mapage_inform_1
          = link_to  "", class: "logo_image" do
            = image_tag src="/images/logo_red.svg", size: "50x50"
          = link_to  "", class: "inform_text" do
            情報が入ります
            .icon
              = icon('fas', 'fas fa-angle-right')
            .time_icon
              = icon('fas', 'far fa-clock')
            .time
              時間
        %li.mapage_inform_2
          = link_to  "", class: "logo_image" do
            = image_tag src="/images/logo_red.svg", size: "50x50"
          = link_to  "", class: "inform_text" do
            情報が入ります
            .icon
              = icon('fas', 'fas fa-angle-right')
            .time_icon
              = icon('fas', 'far fa-clock')
            .time
              時間
        %li.mapage_inform_3
          = link_to  "", class: "logo_image" do
            = image_tag src="/images/logo_red.svg", size: "50x50"
          = link_to  "", class: "inform_text" do
            情報が入ります
            .icon
              = icon('fas', 'fas fa-angle-right')
            .time_icon
              = icon('fas', 'far fa-clock')
            .time
              時間
        %li.mapage_inform_4
          = link_to  "", class: "logo_image" do
            = image_tag src="/images/logo_red.svg", size: "50x50"
          = link_to  "", class: "inform_text" do
            情報が入ります
            .icon
              = icon('fas', 'fas fa-angle-right')
            .time_icon
              = icon('fas', 'far fa-clock')
            .time
              時間
        %li.mapage_inform_5
          = link_to  "", class: "logo_image" do
            = image_tag src="/images/logo_red.svg", size: "50x50"
          = link_to  "", class: "inform_text" do
            情報が入ります
            .icon
              = icon('fas', 'fas fa-angle-right')
            .time_icon
              = icon('fas', 'far fa-clock')
            .time
              時間
        %li.summary
          = link_to  "", class: "icon_summary" do
            一覧を見る
      .under-content
        .under-content__buy_item
          購入した商品
        .under-content__trade
          .under-content__trade__left
            取引中 
          .under-content__trade__right
            過去の取引
        .under-content__main
          .under-content__main_logo
            = image_tag src="/images/logo_white.svg", size: "100x100"
          .under-content__main_text
            取引中の商品がありません
= render "items/main_footer"