= render partial: '/common/sub_header'
.creditcard_index_body
  = render partial: 'credit_bar'
  .creditcard_info
    = render partial: '/common/side_bar'
    = render partial: 'creditcard_main'
= render partial: '/items/main_footer'