= render partial: '/common/sub_header'
.creditcard_index_body
  = render partial: '/creditcards/credit_bar'
  .creditcard_content
    = render partial: '/common/side_bar'
    %main.creditcard__verification
      %section.creditcard__verification__chapter
        %h2.creditcard__verification__chapter__text 支払い方法
        .single__inner
          %section
            .single__inner__content
              %h3.single__inner__content__head クレジットカード一覧
            %ul.single__inner__list
              %li
                .single__inner__list__content
                  -if @default_card_information.brand == "Visa"
                    = image_tag "/images/visa.svg", height: 15, width: 49
                  
                  -elsif @default_card_information.brand == "MasterCard"
                    = image_tag "/images/master-card.svg", height: 15, width: 49

                  -elsif @default_card_information.brand == "JCB"
                    = image_tag "/images/jcb.svg", height: 15, width: 49

                  -elsif @default_card_information.brand == "American Express"
                    = image_tag "/images/american_express.svg", height: 15, width: 49

                  -elsif @default_card_information.brand == "Diners Club"
                    = image_tag "/images/dinersclub.svg", height: 15, width: 49

                  -elsif @default_card_information.brand == "Discover"
                    = image_tag "/images/discover.svg", height: 15, width: 49

                  .single__inner__list__num
                    = "**** **** **** " + @default_card_information.last4
                  .single__inner__list__num
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
                  = link_to creditcard_path(@creditcard.id), class: "single__inner__list__remove", method: :delete do
                    削除する
          .single__inner__settings
            .single__inner__settings__a{href: "#", target: "_blank"}
              %span.single__inner__settings__a__pay 支払い方法について
              %i.fas.fa-chevron-right
= render partial: '/items/main_footer'
= render partial: '/items/sell_btn'