.main__footer
  .main__footer__upper_big
    .main__footer__upper_big__contents
      .main__footer__upper_big__contents__text
        .main__footer__upper_big__contents__text__title
          .main__footer__upper_big__contents__text__title__upper
            スマホでかんたんフリマアプリ
          .main__footer__upper_big__contents__text__title__lower
            今すぐ無料ダウンロード!
        .main__footer__upper_big__contents__text__icons
          = image_tag "/images/logo_red.svg", class: "main__footer__upper_big__contents__text__icons__app"
          = link_to "#", class: "main__footer__upper_big__contents__text__icons__apple" do
            = image_tag "/images/app_store.svg", class: "main__footer__upper_big__contents__text__icons__apple__icon"
          = link_to "#", class: "main__footer__upper_big__contents__text__icons__google" do
            = image_tag "/images/google_play.png", class: "main__footer__upper_big__contents__text__icons__google__icon"
      = image_tag "/images/footer_phone.png", class: "main__footer__upper_big__contents__image"
  .main__footer__upper_mini
    .main__footer__upper_mini__contents
      .main__footer__upper_mini__contents__icon
        = image_tag "/images/logo_red.svg", class: "main__footer__upper_mini__contents__icon__app"
      .main__footer__upper_mini__contents__texts
        .main__footer__upper_mini__contents__texts__upper
          スマホでかんたんフリマアプリ
        .main__footer__upper_mini__contents__texts__lower
          今すぐ無料ダウンロード!
  .main__footer__lower
    .main__footer__lower__lists
      .main__footer__lower__lists__list
        .main__footer__lower__lists__list__title
          フリマアプリについて
        %ul.main__footer__lower__lists__list__ul
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              会社概要(運営会社)
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              採用情報
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              プレスリリース
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              公式ブログ
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              フリマアプリロゴ利用ガイドライン
          %li.main__footer__lower__lists__list__li
            = link_to "https://twitter.com/", class: "main__footer__lower__lists__list__link" do
              = icon('fab', 'twitter', class: "main__footer__lower__lists__list__link__icon")
            = link_to "https://www.facebook.com/", class: "main__footer__lower__lists__list__link" do
              = icon('fab', 'facebook-square', class: "main__footer__lower__lists__list__link__icon")
      .main__footer__lower__lists__list
        .main__footer__lower__lists__list__title
          ヘルプ&ガイド
        %ul.main__footer__lower__lists__list__ul
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              フリマアプリガイド
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              らくらくフリマアプリ便
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              ゆうゆうフリマアプリ便
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              大型フリマアプリ便
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              車体取引ガイド
          %li.main__footer__lower__lists__list__li
            = link_to graphs_path, class: "main__footer__lower__lists__list__link" do
              フリマアプリあんしん・あんぜん宣言!
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              偽ブランド品撲滅への取り組み
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              フリマアプリボックス
      .main__footer__lower__lists__list
        .main__footer__lower__lists__list__title.main__footer__lower__lists__list__title--specific
          プライバシーと利用規約
        %ul.main__footer__lower__lists__list__ul
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              プライバシーポリシー
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              フリマアプリ利用規約
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              あんしんスマホサポート制度に関する利用規約
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              コンプライアンスポリシー
      .main__footer__lower__lists__list
        .main__footer__lower__lists__list__title
          &nbsp;&nbsp;&nbsp;&nbsp;
        %ul.main__footer__lower__lists__list__ul
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              個人データの安全管理に係る基本方針
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              特定商取引に関する表記
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              資金決済法に基づく表示
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              法令遵守と犯罪抑止のために
      .main__footer__lower__lists__list
        .main__footer__lower__lists__list__title
          国
        %ul.main__footer__lower__lists__list__ul
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              日本
          %li.main__footer__lower__lists__list__li
            = link_to "#", class: "main__footer__lower__lists__list__link" do
              United States
    .main__footer__lower__bottom
      = image_tag "/images/fmarket_logo_white.svg", class: "main__footer__lower__bottom__image"
      &copy;&nbsp;Fmarket.Inc