.new_items 
  .new_items__contents 
    .new_items__contents__header 
      .new_items__contents__header__title
        メンズの新着アイテム
      = link_to "#", class: "new_items__contents__header__more" do
        もっとみる ＞
    .new_items__contents__grid
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥100000
          .new_items__contents__grid__item__name
            ジャージジャージジャージジャージジャージジャージジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ
      .new_items__contents__grid__item.new_items__contents__grid__item--last
        = link_to "#" do
          = image_tag "/item.jpeg", class: "new_items__contents__grid__item__image"
          .new_items__contents__grid__item__price
            ¥10000
          .new_items__contents__grid__item__name
            ジャージ