= render 'items-header'
.contents
  = form_with(model: @item) do |f|
    .contents__main
      .contents__main__header
        商品情報を編集
      .contents__main__upload
        .contents__main__image
          .contents__main__image__head
            出品画像
            .contents__main__detail__right__name--icon
              必須
          最大10枚までアップロードできます
          .contents__main__image__box
            .contents__main__image__box
              .contents__main__image__box__previews
                - if @item.persisted?
                  - @item.images.each_with_index do |image, i|
                    .contents__main__image__box__previews__preview{"data-index" => "#{i}"}
                      .contents__main__image__box__previews__preview__image
                        = image_tag image.image.url, data: { index: i }, class: 'input_images', width: "120", height: '120'
                        .js-remove.contents__main__image__box__previews__preview__delete
                          削除
                = f.fields_for :images, @item.images do |image|
                  - if @item.persisted?
                    = image.check_box :_destroy, include_hidden: false, data:{ index: image.index },class: 'hidden-destroy'
              .contents__main__image__box__uploader
                %label.contents__main__image__box__uploader__label<>
                  .js-file_group{"data-index" => "#{@item.images.count}"}
                    = f.file_field :image, name: "item[images_attributes][#{@item.images.count}][image]", id: "item_images_attributes_#{@item.images.count}_image", class: 'js-file'
                  .contents__main__image__box__uploader__text
                    クリックしてファイルをアップロード                    
      .contents__main__name
        .contents__main__name__name-content
          .contents__main__name__name-content__item-name
            商品名
            .contents__main__detail__right__name--icon
              必須
          = f.text_field :name, placeholder: "商品名 (必須40文字まで)", class: "contents__main__name__name-content__item-nameform", required: true
        .contents__main__name__item-exp
          商品の説明
          .contents__main__detail__right__name--icon
            必須
        = f.text_area :state, placeholder: "商品名（必須1000文字以内）（色、素材、重さ色、素材、重さ、低下、注意点など） 例）2019年ごろに購入したコートです。ライトグレーで傷はありません。あたたかくてオススメです。", class:"contents__main__name__name-content__item-expform",required: true
        .contents__main__detail.clearfix
          .contents__main__detail__left
            詳細
          .contents__main__detail__right
            .contents__main__detail__right__name
              カテゴリー
              .contents__main__detail__right__name--icon
                必須
            .contents__main__detail__right__select
              = f.collection_select :category, @category, :id, :name,{prompt: "---", selected: @selected_category.root_id}, {class: "contents__main__detail__right__select__form", id: "category_select", required: true}
              = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
            .item_select-children
              #children_wrapper.item-select-wrapper.edit_select-children
                .contents__main__detail__right__select
                  = f.collection_select :category_id, @selected_category.parent.siblings, :id, :name,{selected: @selected_category.parent_id}, {class: "contents__main__detail__right__select__form", id: "child_category", required: true}
                  = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
            .item_select-grandchildren
              #grandchildren_wrapper.item-select-wrapper.edit_selecte-grandchildren
                .contents__main__detail__right__select
                  = f.collection_select :category_id, @selected_category.siblings, :id, :name,{selected: @selected_category.id}, {class: "contents__main__detail__right__select__form", id: "grandchild_category", required: true}
                  = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
            .item_select-size
              - if @item.size_id != nil
                #set_sizes_wrapper.item-select-wrapper
                  .contents__main__detail__right__name
                    サイズ
                    .contents__main__detail__right__name--icon
                      必須
                  .contents__main__detail__right__select
                    = f.collection_select :size_id, @selected_size_siblings, :id, :name,{selected: @selected_size.id}, {class: "contents__main__detail__right__select__form", required: true}
                    = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
            .contents__main__detail__right__name
              ブランド
              .contents__main__detail__right__name--any
                任意
            .contents__main__detail__right__select
              = f.text_field :brand, class: "contents__main__detail__right__text__form", placeholder: "例) シャネル", value: @item.brand.name
            .contents__main__detail__right__name
              製品の状態
              .contents__main__detail__right__name--icon
                必須
            .contents__main__detail__right__select
              = f.select :condition, [["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や汚れあり", "やや傷や汚れあり"],["傷や汚れあり", "傷や汚れあり"],["全体的に状態が悪い", "全体的に状態が悪い"]], {prompt: "---"}, class: "contents__main__detail__right__select__form", required: true
              = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
        .contents__main__delivery.clearfix
          .contents__main__delivery__left
            配送について
            = link_to root_path, class: "contents__main__delivery__left--question" do
              ?
          .contents__main__delivery__right
            = f.fields_for :shipping do |s|
              .contents__main__delivery__right__burden
                送料の負担
                .contents__main__detail__right__name--icon
                  必須
              .contents__main__detail__right__select
                = s.select :method, [["送料込み(出品者負担)", "送料込み"],["着払い(購入者負担)", "着払い"]], {prompt: "---"}, class: "contents__main__detail__right__select__form", required: true
                = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
              .contents__main__detail__right__name
                配送方法
                .contents__main__detail__right__name--icon
                  必須
              .contents__main__detail__right__select
                = s.select :fee_burden, [["ゆうパック", "ゆうパック"],["クロネコヤマト", "クロネコヤマト"],["らくらくメルカリ便", "らくらくメルカリ便"],["レターパック", "レターパック"]], {prompt: "---"}, class: "contents__main__detail__right__select__form", required: true
                = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
              .contents__main__delivery__right__shipping-area
                発送元の地域
                .contents__main__detail__right__name--icon
                  必須
              .contents__main__detail__right__select
                = s.select :prefecture_from, [["東京都", "東京都"],["千葉県", "千葉県"]], {prompt: "---"}, class: "contents__main__detail__right__select__form"
                = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
              .contents__main__delivery__right__shipping-period
                発送までの日数
                .contents__main__detail__right__name--icon
                  必須
              .contents__main__detail__right__select
                = s.select :period_before_shopping, [["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"]], {prompt: "---"}, class: "contents__main__detail__right__select__form", required: true
                = icon('fas', 'angle-down', class: "contents__main__detail__right__select--icon")
        .contents__main__price.clearfix
          .contents__main__price__left
            販売価格(300~9,999,999)
            = link_to root_path, class: "contents__main__price__left--question" do
              ?    
          .contents__main__price__right
            .contents__main__price__right__box
              .contents__main__price__right__box__price
                価格
                .contents__main__price__right__box__price--icon
                  必須
                .contents__main__price__right__box__price--form
                  ¥
                  =f.number_field :price, id: "price__form", class: "contents__main__price__right__box__price--form-input", placeholder: "例） 300", required: true
              .contents__main__price__right__box__fee.clearfix
                .contents__main__price__right__box__fee__left
                  販売手数料(10%)
                .contents__main__price__right__box__fee__right
              .contents__main__price__right__box__profit.clearfix
                .contents__main__price__right__box__profit__left
                  販売利益
                .contents__main__price__right__box__profit__right
        .contents__main__submit
          .contents__main__submit--text
            %p 禁止されている出品、行為を必ずご確認ください。 
            %p また、ブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            %p また、出品をもちまして加盟店規約に同意したことになります。
          =f.submit id: "item-edit-botton", class: "contents__main__submit--button", value: "更新する" ;
          .contents__main__submit--return
            = link_to root_path, class: "contents__main__submit--return--button" do
              もどる
  = render partial: 'items-footer'