= render partial: 'main_header'
= render partial: 'slider'
= render partial: 'popular_categories'
- @nums.each do |num|
  = search_new_items_category(num)
= render partial: 'main_footer'
- if user_signed_in?
  = render partial: 'sell_btn'
