= render partial: 'main_header'
= render partial: 'slider'
= render partial: 'popular_categories'
- if @items[0] != nil
  = render partial: 'sell_items_list', locals: { items: @items }
= render partial: 'new_items'
= render partial: 'main_footer'
- if user_signed_in?
  = render partial: 'sell_btn'
