= render "main_header"
.main_header__box__upper__search__row
  = render partial: 'search_left_list', locals: { category: @category }
  = render partial: 'search_result', locals: { items: @items }
= render "main_footer"
= render "sell_btn"