= render partial: 'main_header'

.item-detail__contents
  .item-detail__contents__center
    .item-detail__contents__center__head
      = @item.name
      .itemshow-content
        .itemshow-content__photo
          .owl-carousel.owl-loaded.owl-drag
            .owl-stage-outer
              .owl-stage{ style: 'left:0px',width: '900px'}
                - @item.images.each do |i|
                  - if i.image.present?
                    .owl-item{ style: 'width:300px'}
                      .owl-item__inner.is-higher-width
                        = image_tag i.image.url
            .owl-dots
              - if @item.images.present?
                - @item.images.each do |i|
                  .owl-dot
                    .owl-dot-inner
                      = image_tag i.image.url
        .item-detail__contents__center__detail__right
          %table
            %th 出品者
            %td.item-detail__contents__center__detail__right__user-rate
              アルジャーノン
              .item-detail__contents__center__detail__right__user-rate--icon
                .item-detail__contents__center__detail__right__user-rate--icon--good
                  .item-detail__contents__center__detail__right__user-rate--icon--good--left
                    = icon('fas', 'laugh')
                  .item-detail__contents__center__detail__right__user-rate--icon--good--right
                    0

                .item-detail__contents__center__detail__right__user-rate--icon--meh
                  .item-detail__contents__center__detail__right__user-rate--icon--meh--left
                    = icon('fas', 'meh')
                  .item-detail__contents__center__detail__right__user-rate--icon--meh--right
                    0

                .item-detail__contents__center__detail__right__user-rate--icon--sad
                  .item-detail__contents__center__detail__right__user-rate--icon--sad--left
                    = icon('fas', 'sad-tear')
                  .item-detail__contents__center__detail__right__user-rate--icon--sad--right
                    0

          %table
            %th カテゴリー
            %td 
              = @item.category.name

          %table
            %th ブランド
            %td
              - if @item.brand != nil
                = @item.brand.name
              - else
                なし
          %table
            %th 商品の状態
            %td
              = @item.condition
          %table
            %th 配送料の負担
            %td 送料込（出品者負担）

          %table
            %th 配送の方法
            %td
              =@item.shipping.method

          %table
            %th 発送元地域
            %td 
              =@item.shipping.prefecture_from

          %table
            %th 発送日の目安
            %td 2~3日で発送
      
    .item-detail__contents__center__price
      %span.item-detail__contents__center__price__price
        = "¥#{@item.price}"
      %span.item-detail__contents__center__price__tax
        （税込）
      %span.item-detail__contents__center__price__fee
        送料込み

    - if user_signed_in?
      - if current_user.admin?
        .item-detail__contents__center__submit__admin
          = link_to item_destroy_admin_path(@item.id), method: :delete, class:"item-detail__contents__center__submit__admin--button" do
            削除
            
          = link_to admin_index_path, class:"item-detail__contents__center__submit__admin--button-back" do
            戻る

      - else @item.seller_id != current_user.id
        .item-detail__contents__center__submit
          - if @item.level == 0
            = link_to buy_item_purchase_index_path(@item.id), class:"item-detail__contents__center__submit--button" do
              購入画面に進む
          - elsif @item.level == 1
            .item-detail__contents__center__submit--button-if
              取引中
          - elsif @item.level == 2
            .item-detail__contents__center__submit--button-if
              sold out

    - else
      .item-detail__contents__center__submit
        - if @item.level == 0
          = link_to buy_item_purchase_index_path(@item.id), class:"item-detail__contents__center__submit--button" do
            購入画面に進む
        - elsif @item.level == 1
          .item-detail__contents__center__submit--button-if
            取引中
        - elsif @item.level == 2
          .item-detail__contents__center__submit--button-if
            sold out


        

    .item-detail__contents__center__description
      %p.item-detail__contents__center__description__description
        寿限無寿限無五劫の擦り切れ海砂利水魚の水行末雲来末風来末食う寝る処に住む処やぶら小路の藪柑子

      .item-detail__contents__center__description__icons
        .item-detail__contents__center__description__icons__left
          .item-detail__contents__center__description__icons__left__likes
            .item-detail__contents__center__description__icons__left__likes--icon
              = icon('far', 'heart' )
            .item-detail__contents__center__description__icons__left__likes--text
              いいね！
            .item-detail__contents__center__description__icons__left__likes--num
              0

          .item-detail__contents__center__description__icons__left__flag
            .item-detail__contents__center__description__icons__left__flag--icon
              = icon('far', 'flag' )
            .item-detail__contents__center__description__icons__left__flag--text
              不適切な商品の報告

        .item-detail__contents__center__description__icons__right
          = link_to root_path, class:"item-detail__contents__center__description__icons__right__content" do
            .item-detail__contents__center__description__icons__right__content--icon
              = icon('fas', 'lock' )
            .item-detail__contents__center__description__icons__right__content--text
              あんしん・あんぜんへの取り組み

  
  .item-detail__contents__center__message-form--main
    .item-detail__contents__center__message-form
      
      - @comments.each do |comment|
        .item-detail__contents__center__message-form__comments-sec
          .item-detail__contents__center__message-form__comments-sec__left
            = image_tag "/images/item.jpeg", class: "item-detail__contents__center__message-form__comments-sec__left__image"
          
          .item-detail__contents__center__message-form__comments-sec__right
            .item-detail__contents__center__message-form__comments-sec__right__contents
              .item-detail__contents__center__message-form__comments-sec__right__contents__user-name
                = comment.user.nickname

              .item-detail__contents__center__message-form__comments-sec__right__contents__comment
                .item-detail__contents__center__message-form__comments-sec__right__contents__comment--text
                  = comment.text
                .item-detail__contents__center__message-form__comments-sec__right__contents__comment--time
                  = comment.created_at.strftime("%Y/%m/%d %H:%M")

  .item-detail__contents__center__message-form__text
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。

    = form_with(model: [@item, @comment], local: true, id: "new_comment", method: "POST") do |f|
      = f.text_area :text, placeholder: "", class:"item-detail__contents__center__message-form--form textbox"
    
      .item-detail__contents__center__message-form__submit
        =f.submit class: "item-detail__contents__center__message-form__submit--button form__submit", value: "コメントする" ;


  .item-detail__contents__center__change-page
    = link_to root_path, class:"item-detail__contents__center__change-page__left" do
      .item-detail__contents__center__change-page__left--icon
        ＜
      .item-detail__contents__center__change-page__left--text
        ページ移動
    = link_to root_path, class:"item-detail__contents__center__change-page__right" do
      .item-detail__contents__center__change-page__right--text
        ページ移動
      .item-detail__contents__center__change-page__right--icon
        ＞

  .item-detail__contents__center__sns-links
    .item-detail__contents__center__sns-links--icon
      = link_to "https://www.facebook.com/", class: "icon1" do
        = icon('fab', 'facebook-square fa-3x' )
      
      = link_to "https://twitter.com/", class: "" do
        = icon('fab', 'twitter-square fa-3x')

      = link_to "https://www.pinterest.jp/", class: "" do
        = icon('fab','pinterest-square fa-3x')

  .item-detail__contents__center__owner-items.clearfix
    = link_to root_path, class:"item-detail__contents__center__owner-items__head" do
      アルジャーノンさんのその他の出品

    .item-detail__contents__center__owner-items__sec
      .item-detail__contents__center__owner-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__owner-items__sec__box--image"
          .item-detail__contents__center__owner-items__sec__box__name
            暖かい服
          .item-detail__contents__center__owner-items__sec__box__price
            ¥900

      .item-detail__contents__center__owner-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__owner-items__sec__box--image"
          .item-detail__contents__center__owner-items__sec__box__name
            暖かい服
          .item-detail__contents__center__owner-items__sec__box__price
            ¥900

      .item-detail__contents__center__owner-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__owner-items__sec__box--image"
          .item-detail__contents__center__owner-items__sec__box__name
            暖かい服
          .item-detail__contents__center__owner-items__sec__box__price
            ¥900

      .item-detail__contents__center__owner-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__owner-items__sec__box--image"
          .item-detail__contents__center__owner-items__sec__box__name
            暖かい服
          .item-detail__contents__center__owner-items__sec__box__price
            ¥900
          
  .item-detail__contents__center__relatede-items.clearfix
    = link_to root_path, class:"item-detail__contents__center__relatede-items__head" do
      その他の出品

    .item-detail__contents__center__relatede-items__sec
      .item-detail__contents__center__relatede-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__relatede-items__sec__box--image"
          .item-detail__contents__center__relatede-items__sec__box__name
            暖かい服
          .item-detail__contents__center__relatede-items__sec__box__price
            ¥900

      .item-detail__contents__center__relatede-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__relatede-items__sec__box--image"
          .item-detail__contents__center__relatede-items__sec__box__name
            暖かい服
          .item-detail__contents__center__relatede-items__sec__box__price
            ¥900

      .item-detail__contents__center__relatede-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__relatede-items__sec__box--image"
          .item-detail__contents__center__relatede-items__sec__box__name
            暖かい服
          .item-detail__contents__center__relatede-items__sec__box__price
            ¥900

      .item-detail__contents__center__relatede-items__sec__box
        = link_to root_path, class:"" do
          = image_tag "/images/item.jpeg", class: "item-detail__contents__center__relatede-items__sec__box--image"
          .item-detail__contents__center__relatede-items__sec__box__name
            暖かい服
          .item-detail__contents__center__relatede-items__sec__box__price
            ¥900

= render 'main_footer'