= render partial: 'items/main_header'
.category-index
  .category-index__contents
    .category-index__contents__root-lists
      .category-index__contents__root-lists__title
      .category-index__contents__root-lists__list
    .category-index__contents__category-lists
      %ul.category-index__contents__category-lists__parents
        - @categories.each do |category|
          %li.category-index__contents__category-lists__parents__parent
            = link_to "/categories/#{category.id}", class: "category-index__contents__category-lists__parents__parent__link" do
              = category.name
            %ul.category-index__contents__category-lists__children
              - category.children.each do |children|
                %li.category-index__contents__category-lists__children__child
                  = link_to "/categories/#{children.id}", class: "category-index__contents__category-lists__children__child__link" do
                    = children.name
                  %ul.category-index__contents__category-lists__grandchildren
                    - children.children.each do |grandchildren|
                      %li.category-index__contents__category-lists__grandchild__grandchild
                        = link_to "/categories/#{grandchildren.id}", class: "category-index__contents__category-lists__grandchildren__grandchild__link" do
                          = grandchildren.name