.side_bar_content
  .sidecontent
    .lef-content
      %ul.lef-content__lists_top
        %li.list
          = link_to  "", class: "list_mypage" do
            マイページ
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_things" do
            やることリスト
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_likes" do
            いいね！一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit" do
            出品する
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_item" do
            出品した商品-出品中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_trade" do
            出品した商品-取引中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_exhibit_sold" do
            出品した商品-売却済み
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_purchase_trade" do
            購入した商品-取引中
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_purchase_trade_past" do
            購入した商品-過去の取引
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_news" do
            ニュース一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_evaluation" do
            評価一覧
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_guide" do
            ガイド
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_inquiry" do
            お問い合わせ
            .next_icon
            = icon('fas', 'fas fa-angle-right')
      %ul.lef-content__lists_center
        %li.list
          = link_to  "", class: "list_merpay" do
            メルペイ
        %li.list
          = link_to  "", class: "list_profit" do
            売上・振込申請
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_point" do
            ポイント
            .next_icon
            = icon('fas', 'fas fa-angle-right')
      %ul.lef-content__lists_under
        %li.list
          = link_to  "", class: "list_set" do
            設定
        %li.list
          = link_to  "", class: "list_profile" do
            プロフィール
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_address" do
            発送元・お届け先住所変更
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  creditcard_path(current_user.id), class: "list_shipping" do
            お支払い方法
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_mail_pass" do
            メール/パスワード
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_inform" do
            本人情報
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  "", class: "list_number" do
            電話番号の確認
            .next_icon
            = icon('fas', 'fas fa-angle-right')
        %li.list
          = link_to  destroy_user_session_path, method: :delete, class: "list_logout" do
            ログアウト
            .next_icon
            = icon('fas', 'fas fa-angle-right')